DB_NAME=db_transactions
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET_KEY=change-this-secret-key-before-production

EMAIL_FROM=no-reply@transaction-service.local
EMAIL_PERSONAL_NAME=Transaction Service
